/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.jumbotron {
    margin-top: 50px;
	color: white;
	background-image: url('/assets/dna.jpg');
    background-repeat: no-repeat;	
    background-position: center 25%;
}

.well {
	border-radius: 0px;
}

#stats {
	padding-top: 10px;
	margin-bottom: -20px;
}

.pageBar {
	text-align: center;
}

.colorShadow {
	-moz-box-shadow:    0 0 20px #0000aa;
	-webkit-box-shadow: 0 0 20px #0000aa;
	box-shadow:         0 0 15px #0000aa;
}

.jumboShadow {
	-webkit-box-shadow: inset 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
}

.bottomRight {
    position: fixed;
    bottom: 20px;
    left: 85%;
}

.flashAlert {
    width: 10%;
    opacity: 0.75;
    display: none;
    text-align: center;
}

a#backToTop {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    display: none;
    text-indent: -10000px;
    outline: none!important;
    background-image: url('/assets/top-button.png');
    background-repeat: no-repeat;
}